[submodule "Skill Tests/Frontend Skill Test/Alarm_Clock_Project"]
	path = Skill Tests/Frontend Skill Test/Alarm_Clock_Project
	url = https://github.com/arshali2774/CodingNinja_AlarmProject
[submodule "Backend Basics/Week-4/04-Postaway"]
	path = Backend Basics/Week-4/04-Postaway
	url = https://github.com/arshali2774/Postaway-CN
[submodule "Skill Tests/Backend Skill Test/Habit_tracker"]
	path = Skill Tests/Backend Skill Test/Habit_tracker
	url = https://github.com/arshali2774/Habit_Tracker_CN
[submodule "Skill Tests/Backend Skill Test/Authentication_template"]
	path = Skill Tests/Backend Skill Test/Authentication_template
	url = https://github.com/arshali2774/Nodejs_auth_CN
[submodule "Skill Tests/Backend Skill Test/Polling_System_API"]
	path = Skill Tests/Backend Skill Test/Polling_System_API
	url = https://github.com/arshali2774/Polling_System_API_CN
[submodule "Skill Tests/01-Frontend Skill Test/Alarm_Clock_project"]
	path = Skill Tests/01-Frontend Skill Test/Alarm_Clock_project
	url = https://github.com/arshali2774/CodingNinja_AlarmProject
[submodule "Skill Tests/02-Backend Skill Test/Habit_tracker"]
	path = Skill Tests/02-Backend Skill Test/Habit_tracker
	url = https://github.com/arshali2774/Habit_Tracker_CN
[submodule "Skill Tests/02-Backend Skill Test/Authentication_template"]
	path = Skill Tests/02-Backend Skill Test/Authentication_template
	url = https://github.com/arshali2774/Nodejs_auth_CN
[submodule "Skill Tests/02-Backend Skill Test/Polling_System_api"]
	path = Skill Tests/02-Backend Skill Test/Polling_System_api
	url = https://github.com/arshali2774/Polling_System_API_CN
[submodule "Skill Tests/01-Frontend Skill Test/IMDB_CLONE"]
	path = Skill Tests/01-Frontend Skill Test/IMDB_CLONE
	url = https://github.com/arshali2774/Coding_Ninja_IMDB_project
[submodule "Skill Tests/03-React Skill Test/CN_DropDown"]
	path = Skill Tests/03-React Skill Test/CN_DropDown
	url = https://github.com/arshali2774/CN_DropDown
[submodule "Skill Tests/03-React Skill Test/CN_ContactApp"]
	path = Skill Tests/03-React Skill Test/CN_ContactApp
	url = https://github.com/arshali2774/CN_ContactApp
